<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
</head>
<body>
    <h1>Welcome to my website</h1>

    <table border="1">
        <tr>
            <th>Name</th>
            <td>Thinh Nguyen</td>
        </tr>
        <tr>
            <th>Introduction</th>
            <td>Hello, I am a cyber student at Mason. I enjoy sleeping.</td>
        </tr>
        <tr>
            <th>Hobbies</th>
            <td>Playing games</td>
        </tr>
    </table>
</body>
</html>
